/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2017, 3:05:10 PM
    Author     : Mikec
*/

div.tab0 { padding-left: 0em; }
div.tab1 { padding-left: 4em; }
div.tab2 { padding-left: 8em; }
div.tab3 { padding-left: 12em; }
div.tab4 { padding-left: 16em; }
div.tab5 { padding-left: 20em; }
div.tab6 { padding-left: 24em; }
div.tab7 { padding-left: 28em; }
div.tab8 { padding-left: 32em; }
div.tab9 { padding-left: 36em; }
div.tab10 { padding-left: 40em; }
div.tab11 { padding-left: 44em; }
div.tab12 { padding-left: 48em; }
div.tab13 { padding-left: 52em; }
div.tab14 { padding-left: 56em; }
div.tab15 { padding-left: 60em; }
div.tab16 { padding-left: 64em; }